*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



:root{
    --font-family: Arial;
    --nav-font-size: 1.1rem;
    --primary-color: black;
    --secondary-color: blue;
    --dark-mode-button-background: rgb(199, 199, 199);
}

/*============================================ Toggle classes Section  ============================================*/


.navbar-toggle-class{
  border-bottom: 1px solid rgb(126, 126, 126);
  background-color: #f8fcff;
}


/*============================================  Bottom Loader Section  ============================================*/

.bottom-loader{
  text-decoration:none;
  font-size: var(--nav-font-size);
  padding:10px;
  color: var(--primary-color);
  font-family: var(--font-family);
  font-weight:900;

  /* display: inline-block; */
  /* padding-bottom:0px; */
  background-image: linear-gradient(var(--secondary-color) 50% 50%);
  background-position: 80% 85%; /* OR bottom left */
  background-size: 0% 2px;
  background-repeat: no-repeat;
  transition:
    background-size 0.3s,
    background-position 0s 0.3s; /* change after the size immediately */
}

.bottom-loader:hover{
  background-position: 50% 85%;
  background-size: 92% 2px;
}

/*================================================ Resume Styles ==================================================*/

.resume:hover{
  background-color: #cfe6fd;
  color: #318fe7;
  transition: background-color .5s ease-in, color .5s ease-in;
}
.resume{
  border-radius: 7px;
  background-color: rgb(17, 0, 255);
  margin-left: .5rem;
  margin-right: 1.5rem;

  text-decoration:none;
  font-size: var(--nav-font-size);
  padding:10px;
  color: #fff;
  font-family: var(--font-family);
  font-weight:800;
}

@media (max-width: 1199px){
  .resume:hover{
    background-color: rgb(17, 0, 255);
    color: #fff;
  }
}

/*============================================  Navbar Section nav-menu ===========================================*/

/*============================================  Desktop Navigation bar ============================================*/

.logo{
  color: var(--primary-color);
  font-family: var(--font-family);
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 700;
}

.nav-menu{
  top: 0;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  padding-top: 1.5%;
  padding-bottom: 3px;
  z-index: 1000;
}

.nav-menu>a{
  margin-top: -0.5%;
  margin-left: 1%;
}
.nav-menu>ul{
  display: flex;
}

.nav-menu>ul>li{
  list-style-type: none;
}

.nav-menu>ul>li>a:hover{
  color: rgb(48, 48, 204);
}

/*============================================ (Mobile - Tab) Navigation bar ===========================================*/


#header {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  width: 300px;
  transition: all ease-in-out 0.5s;
  z-index: 9997;
  transition: all 0.5s;
  padding: 0 15px;
  background: #040b14;
  overflow-y: auto;
}

#header .profile img {
  margin: 40px 30px 15px auto;
  display: block;
  width: 120px;
  border: 8px solid #2c2f3f;
}

#header .profile h1 {
  font-size: 24px;
  margin: 0;
  padding: 0;
  font-weight: 600;
  -moz-text-align-last: center;
  text-align-last: center;
  font-family: "Poppins", sans-serif;
}

#header .profile h1 a,
#header .profile h1 a:hover {
  color: #fff;
  text-decoration: none;
}

#header .profile .social-links i {
  font-size: 18px;
  display: inline-block;
  background: #212431;
  color: #fff;
  line-height: 1;
  padding: 8px 0;
  margin-right: 6px;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
}

#main {
  margin-right: 0;
}

@media (max-width: 1199px) {

  #main {
    margin-right: 0;
  }
}


#nav-menu {
  position: fixed;
  padding: 30px 0 0 0;
  margin-top: 240px;
}

#nav-menu * {
  margin: 0;
  padding: 0;
  list-style: none;
}

#nav-menu > ul > li {
  position: relative;
  white-space: nowrap;
}

#nav-menu  a,
#nav-menu  a:focus {
  display: flex;
  align-items: center;
  color: #a8a9b4;
  padding: 12px 15px;
  transition: 0.3s;
  font-size: 17px;
  font-weight: 500;
}

#nav-menu  a i,
#nav-menu a:focus i {
  font-size: 24px;
  padding-right: 8px;
  color: #6f7180;
}

#nav-menu a:hover,
#nav-menu .active,
#nav-menu .active:focus,
#nav-menu li:hover > a {
  text-decoration: none;
  color: #fff;
}

#nav-menu a:hover i,
#nav-menu .active i,
#nav-menu .active:focus i,
#nav-menu  li:hover > a i {
  color: #149ddd;
}

#nav-menu > ul > li:last-child{
  margin-top: 10px;
  
}




/*============================================  Small navbar close button =========================================*/

.close-integrated{
  display: flex;
  justify-content: space-around;
}
.close-integrated>div{
  margin-right: -10px;
  margin-top: -80px;
}

/*=================================================  About Section ================================================*/

.top-pad{
  padding-top: 100px;
}

.section-heading{
  width: fit-content;
  display: block; 
  text-align: center; 
  margin: auto;
  /* margin: auto;  */
  /* border-top: 3px solid gray; 
  border-bottom: 3px solid gray; 
  background-color: rgb(249, 252, 255); */
  font-size: 38px;
  border-bottom: 3px solid blue;
  /* margin-left: 20px; */
  margin-bottom: 40px;
  font-weight: 800;
}

.about-info{
  display: flex;
  margin-top: 50px; 
  justify-content: space-around; 
  width: 70%;
}

.about-desc{
  width: 90%; 
  margin: auto; 
  margin-top: 30px; 
  font-size: 18px;
}


.section-sub-heading {
  width: 70%;
  margin: auto;
}

.section-sub-heading h3 {
  margin: 40px auto;
  color: #414e70;
}

.section-sub-heading h3::after {
  margin-top: 6px;
  content: "";
  display: block;
  width: 90px;
  height: 3px;
  background: #0f55eb;
}

.languages-grid{
  width: 60%; 
  margin: auto; 
  margin-bottom: 60px;
  display: grid; 
  grid-template-columns: repeat(4, 1fr);
}

.languages-grid-images{
  width: 100px; 
  border-radius: 10px;
}

@media screen and (max-width: 1199px) {

  .about-info{
    flex-direction: column;
    width: 100%;
  }

}

@media screen and (max-width: 768px) {

  .languages-grid{
    grid-template-columns: repeat(2, 1fr);
    column-gap: 30px;
    row-gap: 40px;
  }

}



/*=================================================  Github Section ===============================================*/

.max-width{
  width: 80%;
  margin: auto;
}

#stat{
  display: flex; 
  justify-content: center;
  margin: 30px auto;
  gap: 10px;
}

#github-top-langs{
  width: 100%;
}

#stat> div:first-child>img, #stat> div:last-child> img{
  width: 100%
}

#gitCalender{
  margin: auto;
  color: black;
  margin-bottom: 30px;
}



@media (max-width: 1199px) {
  #stat{
    flex-direction: column;
  }
  .dt1{
    width: 100%;
  }
  
  #github-top-langs{
    width: 100%;
  }
}



/*=================================================  button to top ================================================*/

#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: rgb(28, 28, 255);
  color: white;
  cursor: pointer;
  padding: 6px 4px 5px 4px;
  width: 40px;
  border-radius: 50%;
}

#myBtn:hover {
  background-color: #a9d5ff;
  color: blue;
}

@media (max-width: 1199px){
  #myBtn:hover{
    background-color: rgb(28, 28, 255);
    color: white;
  }
}

/*================================================== Home Section =================================================*/
.home{
  width: 100%;
  display: flex;
  justify-content: space-between;
  height: 85vh;
  padding-top: 13%;
  margin: auto;
}

.text-box{
  width: 60%;
  margin-left: 5%;
  /* padding-top: 13%; */
  font-size: 17px;
}

.text-box> h1{
  font-size: 55px;
  /* padding-bottom: 1rem; */
  font-family: var(--font-family);
  font-weight: 600;
}

.text-box> p{
  font-size: 28px;
  font-weight: 700;
}

.text-box> a{
  margin-top: 30px;
  display: inline-block;
  border-radius: 6px;
  border: 2px solid blue;
  padding: 10px 30px;
  color: blue;
  text-decoration: none;
  font-weight: 600;
}

.text-box> a:hover{
  background-color: #d6ebff;
  border-color: #d6ebff;
}

.text-box > a:last-child{
  margin-left: 15px;
  color: white;
  background-color: blue;
}

.text-box > a:last-child:hover{
  background-color: #1553ff;
  border: 2px solid #0044ff;
}

.auto-input{
  font-weight: 700;
  font-size: 28px;
  color: blue;
}


.photu{
  width: 50%;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-self: center;
}

.home>div>img{
  /* margin-top: 130px; */
  width: 420px;
  border-radius: 50%;
  height: 400px;
}

#about>div>img{
  width: 270px;
  border-radius: 50%;
  height: 260px;
  display: block;
  margin: auto;
  /* margin-top: 60px; */
}

.about-photo{
  width: 90%;
  /* border: 1px solid red; */
  margin: auto;
  padding: 20px 0px;
  border-radius: 20px;
  background-color: #f2f9ff;
}

.home-icons{
  display: flex;
  margin-left: -15px;
  margin-top: 25px;
}
.home-icons>img{
  margin-left: 15px;
  width: 33px; 
  padding: 4px; 
  border: 2px solid #0084ff;
  border-radius: 50%;
}
.home-icons>img:hover{
  border-color: #c7e4ff;
  background-color: #c7e4ff;
  cursor: pointer;
}

@media (max-width: 1199px){

  .home{
    margin-top: 70px;
    margin-bottom: -70px;
    /* border: 1px solid black; */
  }

  .text-box{
    width: 100%;
  }

  .home> .text-box> h1{
    font-size: 40px;
  }
  .home>div>img{
    margin-top: -80px;
    width: 320px;
    border-radius: 50%;
    height: 300px;
  }

  .text-box> p{
    font-size: 20px;
  }

  .auto-input{
    font-size: 20px;
  }

  .text-box> a{
    border: 2px solid blue;
    color: blue;
    padding: 10px 22px;
  }
  
  .text-box> a:hover{
    background-color: white;
    border-color: blue;
  }
  
  .text-box > a:last-child{
    color: white;
    background-color: blue;
  }
  
  .text-box > a:last-child:hover{
    color: white;
    background-color: blue;
  }

  .home-icons>img{
    border: 2px solid #c7e4ff;
    background-color: #c7e4ff;
  }
  .home-icons>img:hover{
    border-color: #c7e4ff;
    background-color: #c7e4ff;
  }
}

@media (max-width: 768px){

  .home{
    margin-bottom: 0px;
    margin-top: 190px;
  }

  .text-box{
    width: 90%;
    margin-top: 30px;
    margin-left: 20px;
    height: 200%;
  }

  .home{
    flex-direction:column-reverse;
  }
  .home> .text-box> h1{
    font-size: 30px;
    /* line-height: 150px; */
  }
  .text-box> p{
    font-size: 20px;
    font-weight: 700;
  }

  .auto-input{
    font-size: 20px;
  }

  .home>div:last-child{
    width: 95%;
  }
  .home>div>img{
    width: 100%;
    border-radius: 20px;
    height: 330px;
    /* margin-left: 0px; */
    /* margin-top: 100px; */
  }

  .home-icons>img{
    border: 2px solid #c7e4ff;
    background-color: #c7e4ff;
  }
  .home-icons>img:hover{
    border-color: #c7e4ff;
    background-color: #c7e4ff;
  }

}


@media (max-width: 290px){
  .home{
    margin-bottom: 0px;
    margin-top: 360px;
  }
}


/*================================================== Projects Section =======================================*/


.project-buttons{
  margin: auto;
}

.project-buttons> a{
  margin-top: 10px;
  display: inline-block;
  border-radius: 6px;
  border: 2px solid #0f55eb;
  padding: 8px 25px;
  color: blue;
  text-decoration: none;
  font-weight: 600;
}

.project-buttons> a:hover{
  background-color: #d6ebff;
  border-color: #d6ebff;
}

.project-buttons > a:last-child{
  margin-left: 15px;
  color: white;
  background-color: #0f55eb;
}

.project-buttons > a:last-child:hover{
  background-color: #3d71ff;
  border: 2px solid #3d71ff;
}

.Projects-main{
  display: flex; 
  width: 70%; 
  padding: 15px 30px;
  margin: auto; 
  border-radius: 10px; 
  justify-content: space-between;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  transition: all ease-in .15s;
  margin-top: 20px;
}

.Projects-main:hover{
  width: 71%;
  cursor: pointer;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  transition: all ease-out .15s;
}

.Projects-main>div:first-child{
  width: 70%; 
  height: 95%;
}

.Projects-main>div:first-child>img{
  border-radius: 12px; 
  border: 6px inset #0f55eb;
  width: 100%; 
  height: 95%;
}

.Projects-main>div:nth-child(2){
  width: 40%; 
  display: flex; 
  flex-direction: column;
}

.project-heading{
  text-align: center; 
  color: #0f55eb; 
  font-size: 21px; 
  font-weight: 600;
}

.project-desc{
  width: 85%; 
  align-self: center; 
  word-wrap: break-word; 
  text-align: center; 
}

.tech-stack-card{
  font-size: 30px; 
  color: #0f55eb;
}




@media (max-width: 1199px){
  .Projects-main{
    display: flex; 
    width: 99%; 
    /* padding: 15px 30px; */
    flex-direction: column;
    margin-top: 20px;
    /* border-radius: 20px; */
  }

  .Projects-main:hover{
    width: 99%;
  }
  
  .project-buttons> a:hover{
    background-color: #fff;
    border-color: #0f55eb;
  }
  
  .project-buttons > a:last-child:hover{
    background-color: #0f55eb;
    border: 2px solid #0f55eb;
  }

  .Projects-main>div:first-child{
    width: 100%; 
    height: 100%;
  }
  
  .Projects-main>div:first-child>img{
    /* border-radius: 20px;  */
    border: 6px solid #0f55eb;
    width: 100%; 
    height: 95%;
  }
  
  .Projects-main>div:nth-child(2){
    margin-top: 20px;
    width: 100%; 
    display: flex; 
    flex-direction: column;
  }
}

/* @media (max-width: 768px){
  .Projects-main:hover{
    display: flex; 
    width: 70%; 
    padding: 15px 30px;
    margin: auto; 
    border-radius: 20px; 
    justify-content: space-between;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    transition: all ease-in .15s;
    margin-top: 20px;
  }

  .project-buttons> a:hover{
    background-color: #fff;
    border-color: #0f55eb;
  }
  
  .project-buttons > a:last-child:hover{
    background-color: #0f55eb;
    border: 2px solid #0f55eb;
  }
} */


/*================================================== Contacts Section =======================================*/

.contact-main{
  width: 98%; 
  margin: auto;
  display: flex; 
  justify-content: space-between; 
  margin-bottom: 50px; 
  margin-top: 70px;
  background-color: #effaff;
  border-radius: 13px;
  border: 2px inset #4ab8f5;
  /* border: 2px inset #4ab8f5; */
}

.contact-2-main{
  width: 45%; 
  /* border: 1px solid white;  */
  border-radius: 10px;
}

.contact-1-main{
  width: 45%;
}

.contact-1-main>img{
  border-radius: 10px;
}

.contact-with-me-heading{
  text-align: center; 
  padding: 7px 0px; 
  border-bottom: 2px dashed #4ab8f5;
  border-radius: 10px;
}



@media (max-width: 1199px){
  .contact-main{
    flex-direction: column;
  }

  .contact-1-main{
    width: 100%;
    margin: auto;
  }

  .contact-2-main{
    width: 100%;
    margin: auto;
    margin-top: 20px;
  }

  .contact-with-me-heading{
    border: 2px inset #4ab8f5;
    border-left: none;
    border-right: none;
  }
}



/*================================================== Footer Section =======================================*/

footer{
  background-color: black; 
  height: 50px; 
  display: flex;
}

footer>p{
  display: flex;
}

footer>p>span{
  align-self: center;
  color: white;
}

footer>p>span:first-child>span{
  color: white; 
  font-weight: 700; 
  font-size: 18px;
}

footer>p>span:last-child{
  margin-left: 20px;
}

footer>p>span>a{
  color:rgb(58, 58, 255); 
  text-decoration: none;
}

@media (max-width: 468px){
  footer{
    height: 70px;
  }
  footer>p{
    display: flex;
    flex-direction: column;
  }

  footer>p>span:first-child{
    padding-top: 10px;
  }

  footer>p>span:last-child{
    margin-left: 0px;
  }
}